/*
    1. Elementos generales
    2. Cabecera
    3. Párrafos
    4. Pie de página
*/

/* ----- 1. Elementos generales */

#container{
    background-color: black;
}

/* --------2. Cabecera. */
.cabecera{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*  He tenido que buscar esto*/
    height: 20%;
    width: 100%;
    position: fixed;  
    background-color: rgb(59, 63, 56) !important;
    z-index: 2;
}
img.logotipo{
    height: 50%;
}

h1{
    position: relative;
    left: 40%;;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    /* NO ENTIENDO PORQUÉ NO ME SALE LA FUENTE de GOOGLE. HE tenido que cambiarla >.< */
    font-weight: bolder;
    color: red;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  list-style-type: none; 
    margin: auto;
}

li a {
    width: 100%;
    padding: 10%;
    text-decoration: none;
    color: yellow;
}

/* ¿Por qué no consigo que me salgan los malditos enlaces alineados T_T */

/*  ------3. Párrafos. */

.barraLateral{
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 25px; 
    z-index: 1;
}
.imagenLateral{
    height: 20%;
    /* position: relative;
    top: 50px; */
}
.lateral{
    margin-top: 70px;
}
.textoPrincipal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 70%; 
}
p{
    color: whitesmoke;
    font-weight: bolder;
}
footer{
    color:pink
}
a{
    height: 5px;
    width: 5px;
    /* adlkfjadklfajklfd...
    Sigo sin conseguir que las imágenes tengan tamaño correcto. */
}